/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 100;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 450px
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 100px;
}

/* Set gray background color and 100% height */
.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}
.banner{
    height: 280px;
}
.nopadding {
    padding: 0;
}
.navlinks {
    color: #808080;
}
.eventAll{
    margin-bottom: 20px;
    padding-bottom: 40px;
}
.events1{
    display: inline;
    float: left;
    text-align: left;
}
.events2{
    display: inline;
    float: right;
    text-align: left;
    height: auto;
}

.p {
    text-align: left;
}
.imageItem{
    padding-top: 2%;
    padding-left: 4%;
}
.eventItem {
    background-color: white;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 10px;
    padding-top: 15px;
    height: auto;
}
.profileView{
    background-color: #DCDCDC;
}
.createProfile{
    background-color: #DCDCDC;
}
.postItem {
    text-align: left;
    padding-left: 4%;
}
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
/* Set white background color, grey text and some padding */
header {
    background-color: white;
    color: grey;
    position: fixed;
    top: 0;
    width: 100%;
}

body{
    margin-top: 70px;
    background-color: #DCDCDC;
}
/* Set white background color, grey text and some padding */
footer {
    background-color: white;
    color: grey;
    /*padding: 15px;*/
    width: 100%;
    height: 70px;
    position: fixed;
    bottom: 0;
    float: bottom;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        /*padding: 15px;*/
    }
    /*.App-header {*/
    /*background-color:#3498db;*/

    .row.content {
        height: auto;
    }
}
