 .App-header {
   background-color:#ffffff;
   color: #000000;
   text-align:center;
   padding:25px;
 }
.App-left{
  width: 20%;
  height: 700px;
  background-color: #C5E9F3;
  float: left;
}
.App-right{
  width: 15%;
  height: 700px;
  background-color: #C5E9F3;
  float: right;
}
.App-middle{
  width: 65%;
  height: 700px;
  background-color: #ffffff;
  float: left;}

.App-footer
{
   background-color:black;
   color:white;
   clear:both;
   text-align:center;
   padding:5px;
}
/* avatar css example*/
 .APP-avatar {
     border: 1px solid #c4c9cc;
     border-radius: 3px;
     height: 40px;
     width: 40px;
     position: absolute;
     right: 0;
     top: 0
 }


/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/